{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Your Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'store/css/cyberpunk.css' %}">

</head>
<body>
<div class="container mt-4">
    <h1>Your Cart</h1>
    {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product_id, item in cart_items %}
                <tr>
                    <td>{{ product_id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Total: ${{ total_price }}</h3>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    <a href="{% url 'store:product_list' %}" class="btn btn-primary">Continue Shopping</a>
</div>
</body>
</html>
