{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'store/css/cyberpunk.css' %}">

</head>
<body>
<div class="container mt-4">
    <h1>Categories</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
        {% empty %}
            <li>No categories available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'store:home' %}">Back to Home</a>
</div>
</body>
</html>
