{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'store/css/cyberpunk.css' %}">

</head>
<body>
<div class="container mt-4">
    <h1>All Products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">${{ product.price }}</p>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'store:home' %}">Back to Home</a>
</div>
</body>
</html>
